.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}


.log-position {
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}